<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <style>
        .submitButton{
            border-radius: 5px;
            padding: 10px;
            background-color: rgb(25, 24, 22);
            color: #ccc;
            border: none;
            cursor: pointer;

        }
        .disabled {
            background-color: #41403f;
            cursor: not-allowed;
            color: rgb(155, 144, 144);
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <!-- <img src="appicon.jpg" alt="Logo" class="logo"> -->
        <h1>create your new password</h1>
        <p>create a <strong>strong password</strong> for Secure</p>
        <form id="loginform" action="/resetpassword" method="post">
            <div class="input-group">
                <input id="newPassword" name="password" type="password" placeholder="New password" required />
                <!-- <img src="chaticon.webp" alt="" width="25px"> -->
            </div>
            <div class="input-group">
                <input id="confirmPassword" name="confirm_password" type="password" placeholder="Confirm Password" required />
            </div>
            <div class="description" style="height: 20px;">
                    <p id="errorText" style="margin:0px;font-size:13px;color: rgb(25, 23, 23);">please enter the same password to both fields</p>
                    
            </div>
            <input class="submitButton disabled" id="loginbtn" class="primary-btn" type="submit" value="Save Password"></input>
        </form>
        <a href="/forgetpassword" class="forgot-password">Forgot Password?</a>
        <p>back to login<a href="/">back</a></p>
    </div>
    

    <script>
        const newPassword = document.getElementById('newPassword');
        const confirmPassword = document.getElementById('confirmPassword');
        const submitButton = document.querySelector('.submitButton');
        const errorText = document.getElementById('errorText');

        function validatePasswords() {
            if (newPassword.value === confirmPassword.value && newPassword.value !== '') {
                errorText.style.display = 'none';
                submitButton.classList.remove("disabled")
            } else {
                errorText.style.display = 'block';
                submitButton.classList.add("disabled")
            }
        }

        // Add event listeners to both password fields
        newPassword.addEventListener('input', validatePasswords);
        confirmPassword.addEventListener('input', validatePasswords);
    </script>
    
</body>
</html>